.Message_wrapper{
    display: flex;
    flex-direction: row;
}

.Avatar{
    background-color: grey;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: auto;
}

.Message{
    width: 60vw;
    border-radius: 15px;
    background-color: #E8E8E8;
    margin: 5px 2vw;
    padding: 10px;
}

.CodeStyle{
    background-color: rgb(39, 39, 42);
    color: white;
    border-radius: 0;
}

.Bot{
    background-color: #0077FF;
    color: white;
}

.MessageText{
    line-height: 1.1;
    white-space: pre-wrap;
    font-family: Montserrat, serif;
    font-size: 16px;
    margin-right: auto;
    margin-left: auto;
    font-weight: 400;
    width: 55vw;
}


.TextBot{
    line-height: 1.5;
    margin-left: 1vw;
    text-align: left;
    overflow: hidden;
    animation: typing 2s steps(300, end) forwards;
}

@keyframes typing {
    from { width: 0;
        white-space: nowrap;}
    to { width: 100% }
}

.Message pre{
    width: 80%;
    margin: auto;
}

.Message pre::-webkit-scrollbar {
    width: 0;
}

